/* Base CSS Start */

/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: #faedd6;
  scroll-behavior: smooth;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.primary-btn {
  display: block;
  width: 145px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #16132f;
  padding: 8px 24px;
  background: #f8931f;
  border: 1px solid #16132f;
  transition: all 0.2s ease-in-out;
}

.primary-btn:hover {
  box-shadow: 4px 4px 0px 0px #000000;
}

/* Base CSS End */

/* Header Part CSS Start */

/* Navigation Section CSS Start */

.navbar {
  background: #faedd6;
  padding: 15px 50px;
  border-bottom: 2px solid #000000;
}

.logo {
  position: relative;
  padding-right: 40px;
}

.logo::after {
  position: absolute;
  content: "";
  top: 0;
  right: 20px;
  width: 1px;
  height: 100%;
  background: #000000;
}

.nav-link {
  color: #000000;
  padding: 0 12px !important;
  transition: all 0.2s ease-in-out;
}

.nav-link:hover {
  color: #f8931f;
}

.our-store-btn {
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  width: 150px;
  color: #16132f !important;
  padding: 12px 0 !important;
  background: #f8931f;
  border: 1px solid #16132f;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.our-store-btn:hover {
  box-shadow: 2.5px 2.5px 0px 0px #000000;
}

.search-form {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  background: #faedd6;
  margin: 0 30px 0 10px;
  border: 1px solid #16132f;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.search-form input {
  width: 82%;
  padding: 12px 15px;
  background: transparent;
  border: none;
}

.search-form input:focus {
  outline: 0;
}

.search-form button {
  width: 18%;
  background: #f8931f;
  padding: 12px;
  border: none;
  border-left: 1px solid #16132f;
  border-radius: 0px 4px 4px 0px;
  transition: all 0.2s ease-in-out;
}

.search-form button:hover {
  box-shadow: 2.5px 2.5px 0px 0px #000000;
}

.store-buttons a {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #faedd6;
  border-radius: 4px;
  margin: 0 10px;
  transition: all 0.2s ease-in-out;
}

.store-buttons a:hover {
  box-shadow: 2.5px 2.5px 0px 0px #000000;
}

.search-form input::placeholder {
  color: #16132f;
}

/* Navigation Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  padding: 50px 0;
}

.hero-content h1 {
  font-size: 64px;
  line-height: 96px;
  color: #16132f;
}

.hero-content h1 span {
  font-weight: 700;
}

.hero-content p {
  font-size: 20px;
  line-height: 30px;
  color: #16132f;
  padding: 10px 0;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Design Section CSS Start */

.design-wrapper {
  background: #d1e665;
  border-width: 4px 0px;
  border-style: solid;
  border-color: #16132f;
  padding: 50px 0;
}

.section-top h2 {
  font-size: 48px;
  font-weight: 700;
  text-align: center;
  color: #16132f;
}

.design-tab-buttons li .nav-link {
  display: block;
  width: 145px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #16132f;
  padding: 8px !important;
  margin: 0 25px;
  background: #dadada;
  border: 1px solid #16132f;
  border-radius: 0 !important;
  transition: all 0.2s ease-in-out;
}

.design-tab-buttons li .nav-link:hover {
  box-shadow: 4px 4px 0px 0px #000000;
}

.design-tab-buttons li .nav-link.active {
  color: #16132f;
  background: #f8931f;
}

.design-card {
  margin-top: 10px;
  padding: 20px;
  border-radius: 2px;
  border: 0;
}

.design-card:hover {
  border: 3px solid#16132F;
}

.design-card-img {
  text-align: center;
}

.customize-btn {
  display: block;
  width: 100%;
  text-align: center;
  background: transparent;
  padding: 10px 0px;
  margin-bottom: 10px;
  color: #16132f;
  border: 1px solid #16132f;
  transition: all 0.2s ease-in-out;
}

.customize-btn span {
  font-size: 16px !important;
  font-weight: 600;
}

.customize-btn:hover span {
  display: none;
}

.customize-btn:hover:before {
  content: "Customize!";
  color: #ffffff;
}

.customize-btn:hover {
  background-color: #f8931f;
  border: 1px solid #f8931f;
  box-shadow: 4px 4px 0px 0px #000000;
}

.design-card-content span {
  font-size: 12px;
  color: #16132f;
}

.design-card hr {
  border-top: 0.4px solid #16132f;
  opacity: 1;
  margin: 0 0 20px;
}

/* Design Section CSS End */

/* Banner Section CSS Start */

.banner-wrapper {
  background: #16132f;
  margin: 50px 0;
}

.banner-content h3 {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  padding: 50px 0;
}

/* Banner Section CSS End */

/* Trending Product Section CSS Start */

.tr-product-wrapper {
  padding-bottom: 50px;
}

.trending-product-top h2 {
  font-size: 48px;
  font-weight: 700;
  color: #16132f;
}

.tr-product-left {
  transition: all 0.2s ease-in-out;
}

.tr-product-left:hover {
  box-shadow: 4px 4px 0px 0px #000000;
}

.tr-product-left-img > img {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 545px;
  max-height: 545px;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.tr-product-left-text {
  position: absolute;
  top: 30px;
  left: 30px;
}

.tr-product-left-text h3 {
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  color: #16132f;
}

.tr-product-left-arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #f8931f;
}

.tr-product-right img {
  transition: all 0.2s ease-in-out;
}

.tr-product-right img:hover {
  box-shadow: 4px 4px 0px 0px #000000;
}

.tr-product-right-img > img {
  position: relative;
  max-width: 100%;
  width: 100%;
  min-height: 250px;
  max-height: 250px;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.tr-product-right-text {
  position: absolute;
  top: 30px;
  left: 30px;
}

.tr-product-right-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  color: #16132f;
}

.tr-product-right-arrow {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: #f8931f;
}

/* Trending Product Section CSS End */

/* New Collection Section CSS Start */

.new-collection-wrapper {
  margin-bottom: 100px !important;
  padding: 50px 0;
  background: #f8931f;
  border-width: 4px 0px;
  border-style: solid;
  border-color: #16132f;
}

.new-collection-title h2 {
  font-weight: 700;
  font-size: 56px;
  line-height: 75px;
  color: #16132f;
  padding-bottom: 30px;
}

.new-collection-slide {
  text-align: center;
  margin: auto;
}

.new-collection-slide img {
  max-width: 364px;
  width: 100%;
  margin: auto;
  min-height: 396px;
  max-height: 396px;
  height: 100%;
  object-fit: cover;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-slide.swiper-slide-active img {
  min-height: 450px;
  max-height: 450px;
  height: 100%;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-button-prev {
  position: absolute;
  left: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8931f;
  box-shadow: 2px 2px 0 0 #000000;
  border: 1px solid #16132f;
  border-radius: 100%;
}

.swiper-button-next {
  position: absolute;
  right: 2px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f8931f;
  box-shadow: 2px 2px 0 0 #000000;
  border: 1px solid #16132f;
  border-radius: 100%;
}

/* New Collection Section CSS End */

/* Main Part CSS End */

/* Footer Part CSS Start */

.footer-wrapper {
  background: #faedd6;
  padding: 50px 0 30px;
  border-top: 1px solid #000000;
}

.footer-menu h5 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #16132f;
  margin-bottom: 20px;
}

.footer-nav ul li a {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: 0.3px;
  color: #16132f;
}

.footer-newsletter h6 {
  font-family: "Jost", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #16132f;
  margin-bottom: 20px;
}

.footer-newsletter p {
  font-family: "Jost", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.3px;
  color: #16132f;
}

.input-field {
  width: 68%;
}

.input-field input {
  width: 100%;
  background: #ffffff;
  padding: 8px 15px;
  border: 1px solid #b3bdc7;
  border-radius: 8px;
}

.input-field input:focus {
  outline: 0;
}

.btn-field {
  width: 28%;
}

.btn-field input {
  width: 100%;
  font-size: 16px;
  letter-spacing: 0.3px;
  color: #ffffff;
  background: #f8931f;
  padding: 8px;
  border: none;
  border-radius: 4px;
}

.footer-social p {
  font-size: 14px;
  font-weight: 600;
  color: #16132f;
  padding-top: 10px;
}

.social-media li {
  padding-right: 20px;
}

.footer-wrapper hr {
  margin: 40px 0 30px !important;
  border-top: 1px solid #16132f;
  opacity: 1;
}

.footer-copyright p {
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  color: #16132f;
  margin: 0;
}

/* Footer Part CSS End */

/* ==========***==========
Login Page CSS
==========***========== */

/* Login Header Section CSS Start */

.login-header-wrapper {
  padding: 50px 90px;
}

/* Login Header Section CSS End */

/* Login Form Section CSS Start */

.login-wrapper {
  padding: 50px 0 200px;
}

.login-container {
  max-width: 500px;
  width: 100%;
  margin: auto;
  background: #ffffff;
  padding: 70px 50px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

.sign-in-buttons li {
  font-size: 20px;
  font-weight: 700;
  padding: 8px 0;
  color: #16132f;
  cursor: pointer;
}

.sign-in-buttons li.active {
  display: block;
  width: 150px;
  font-size: 20px;
  text-align: center;
  color: #16132f;
  background: #f8931f;
  border: 1px solid #16132f;
  transition: all 0.2s ease-in-out;
}

.sign-in-buttons li.active:hover {
  box-shadow: 4px 4px 0px 0px #000000;
}

.login-container p {
  font-size: 16px;
  text-align: center;
  color: #16132f;
}

.form-input-field {
  margin-bottom: 15px;
}

.form-input-field label {
  font-size: 16px;
  font-weight: 600;
  color: #16132f;
  padding-bottom: 10px;
}

.form-input-field input {
  width: 100%;
  background: #ffffff;
  padding: 9px 15px;
  border: 1px solid #aeaeae;
  border-radius: 5px;
}

.form-input-field input:focus {
  outline: 0;
}

.login-form span {
  font-size: 12px;
  color: #16132f;
}

.login-form span a {
  font-weight: 700;
  color: #16132f;
}

.or p {
  position: relative;
  font-size: 16px;
  margin: 0;
  padding-top: 20px;
}

.or p::before,
.or p::after {
  position: absolute;
  content: "";
  top: 31px;
  width: 30px;
  height: 1px;
  background: #000000;
}

.or p::before {
  left: 35%;
}

.or p::after {
  right: 35%;
}

.google-login a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 10px 0px !important;
  margin-top: 20px;
  background: #f8931f;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.google-login a img {
  padding-right: 10px;
}

.google-login a:hover {
  box-shadow: 2.5px 2.5px 0px 0px #000000;
}

.phone-login a {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 10px 0px !important;
  margin-top: 20px;
  background: #16132f;
  border: none;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.phone-login a:hover {
  box-shadow: 2.5px 2.5px 0px 0px #f8931f;
}

.form-btn-field input {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  color: #16132f;
  padding: 10px 0px !important;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #f8931f;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.form-btn-field input:hover {
  box-shadow: 2.5px 2.5px 0px 0px #16132f;
}

.login-shape {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.login-shape img {
  width: 100%;
}

.login-copyright {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}

.login-copyright p {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  margin-bottom: 0;
}

/* Login Form Section CSS End */

/* ============***============
Shop Page CSS
============***============ */

.shop-body {
  background: #ffffff;
}

/* Shop Page Header Bredcrumb Section CSS Start */

.bredcrumb-wrapper {
  padding: 50px 0;
}

.bredcrumb-menu ul li a {
  font-size: 18px;
  color: #16132f;
}

.bredcrumb-menu ul li a.active {
  color: #f8931f;
}

.bredcrumb-menu ul li a span {
  font-size: 22px;
  color: #aeaeae;
  padding: 0 10px;
}

/* Shop Page Header Bredcrumb Section CSS End */

/* Shop Product Section CSS Start */

.product-info h3 {
  font-size: 36px;
  font-weight: 600;
  line-height: 54px;
  color: #16132f;
}

.product-rating {
  padding: 10px 0 30px;
}

.product-rating li {
  position: relative;
  font-size: 13px;
  line-height: 20px;
  color: #aeaeae;
  padding-right: 50px;
}

.product-rating li::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 25px;
  width: 5px;
  height: 5px;
  background: #aeaeae;
  border-radius: 100%;
}

.product-rating li:last-child:after {
  display: none;
}

.product-rating li img {
  padding-right: 10px;
  margin-top: -4px;
}

.product-size h5 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #16132f;
}

.choose-size {
  padding: 15px 0 40px;
}

.choose-size li {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
  color: #16132f;
  margin-right: 20px;
  background: #faedd6;
  border: 1px solid #f8931f;
  border-radius: 10px;
}

.choose-size li.active {
  color: #ffffff;
  background: #f8931f;
  border: 1px solid #f8931f;
}

.about-reviews-buttons ul#pills-tab {
  border-bottom: 1px solid #aeaeae;
}

.about-reviews-buttons ul li .nav-link {
  font-size: 18px;
  font-weight: 500;
  color: #f8931f !important;
  background: none !important;
  padding: 0 20px 7px !important;
  border-radius: 0 !important;
}

.about-reviews-buttons ul li .nav-link.active {
  border-bottom: 3px solid #f8931f;
}

.about-item ul li {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #16132f;
  padding: 5px 0;
}

.about-item ul li span {
  font-size: 14px;
  color: #f8931f;
}

.discount {
  padding: 20px;
  background: linear-gradient(
    102.06deg,
    #f8931f 10.54%,
    rgba(248, 147, 31, 0) 230.63%
  );
  border-radius: 10px;
}

.discount-text h6 {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
}

.discount-text p {
  font-size: 12px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 0;
}

.discount-tag span {
  width: 106px;
  font-size: 10px;
  font-weight: 500;
  color: #ffffff;
  background: #f8ca96;
  padding: 9px 19px;
  border-radius: 5px;
}

.order-info {
  padding: 20px;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.order-info p {
  font-size: 16px;
  font-weight: 500;
  color: #16132f;
}

.selected-size-text h6 {
  font-size: 14px;
  color: #f8931f;
  margin-bottom: 5px;
}

.selected-size-text p {
  font-size: 14px;
  font-weight: 500;
  color: #16132f;
}

.quantity {
  width: 150px;
  padding: 10px;
  background: #ffffff;
  border: 0.5px solid #aeaeae;
  border-radius: 5px;
}

.quantity li {
  font-size: 20px;
  color: #16132f;
  cursor: pointer;
}

.quantity-minus {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eeeeee;
  border-radius: 100%;
}

.quantity-plus {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 100%;
}

.product-price p {
  font-size: 15px;
  color: #16132f;
}

.product-price h6 {
  font-size: 18px;
  font-weight: 700;
  color: #16132f;
}

.buy-now-btn a {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  padding: 10px;
  margin-top: 15px;
  background: #f8931f;
  border: 1px solid #f8931f;
  border-radius: 5px;
}

.add-bag-btn a {
  display: block;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  color: #f8931f;
  padding: 10px;
  margin-top: 15px;
  background: transparent;
  border: 1px solid #f8931f;
  border-radius: 5px;
}

.chat a,
.share a {
  font-size: 12px;
  font-weight: 500;
  color: #f8931f;
}

.chat a img,
.share a img {
  padding-right: 10px;
}

.report p {
  font-size: 14px;
  color: #f8931f;
}

/* Shop Product Section CSS End */

/* Recomendation Section CSS Start */

.recomendation-wrapper {
  padding: 100px 0;
}

.recomendation-title h4 {
  font-size: 24px;
  font-weight: 600;
  color: #16132f;
  padding-bottom: 40px;
}

.recomendation-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 35px;
}

.recomendation-card-img img {
  width: 100%;
  min-height: 160px;
  max-height: 160px;
  height: 100%;
  object-fit: cover;
  border-radius: 12px 12px 0 0;
}

.recomendation-card-text {
  padding: 10px;
}

.recomendation-card-text h6 {
  font-size: 14px;
  color: #f8931f;
  margin-bottom: 10px;
}

.recomendation-card-text p {
  font-size: 15px;
  color: #16132f;
  margin-bottom: 10px;
}

.recomendation-card-rating p {
  color: #f8931f;
}

.recomendation-card-rating h6 {
  font-weight: 300;
  color: #aeaeae;
}

.recomendation-card-rating h6 img {
  padding-right: 7px;
  margin-top: -3px;
}

/* Recomendation Section CSS End */
